<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255562700015-jm7p9q0sfem918maf78ilj09okvd5nsf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255562700015-jm7p9q0sfem918maf78ilj09okvd5nsf</string>
	<key>API_KEY</key>
	<string>AIzaSyDSHQBj8Q93QqCdBvDu0dlDtelgkJXxsZc</string>
	<key>GCM_SENDER_ID</key>
	<string>255562700015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wallpapersApp</string>
	<key>PROJECT_ID</key>
	<string>primcus-464ed</string>
	<key>STORAGE_BUCKET</key>
	<string>primcus-464ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255562700015:ios:f9759d153ae72854fb371a</string>
</dict>
</plist>